APP_NAME="YOUR APP NAME"
DESCRIPTION="YOUR APP DESCRIPTION"
VERSION="0.0.1"
SECRET_KEY="YOUR SECRET KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

DATABASE_PASSWORD="YOU DB PASSWORD"
DATABASE_URL="postgresql+asyncpg://DATABASE_USER:DATABASE_PASSWORD@HOST:PORT/postgres?ssl=require"